@page "/customerlist" 
 @model MyApp.Namespace.CustomerListModel 
 @{ 
 } 
  
 <h1>Kundekatalog</h1> 
 <hr/> 
 <p style="color: black;">Her kommer en tabel med kunder ...</p> 
 
    <table>
        <thead>
  <tr>
    <th>KundeId</th>
    <th>Name</th>
    <th>Phonenumber</th>
    <th>Email</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Address</th>
  </tr>
  </thead>
<tbody>
                @foreach (var kunde in Model.kundeListe)
                {
                    <tr>
                        <td>
                            <b></b>@kunde.KundeId
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.Name
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.PhoneNumber
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.Email
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.City
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.ZipCode
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.Country
                            <br />
                        </td>
                        <td>
                            <b></b>@kunde.Address
                            <br />
                        </td>
                        
                    </tr>

                }
            </tbody>
</table>

  



