@page "/cataloglist" 
 @model MyApp.Namespace.CatalogListModel 
 @{ 
 } 
  
 <h1>Varekatalog</h1> 
 <hr/> 
 <p style="color: black;">Her kommer en tabel med varer ...</p> 
 
    <table>
        <thead>
  <tr>
    <th>ProductId</th>
    <th>Title</th>
    <th>Description</th>
    <th>ShowRoomId</th>
    <th>Valuation</th>
    <th>AuctionStart</th>
    <th>Images</th>
  </tr>
  </thead>
<tbody>
                @foreach (var vare in Model.VareListe)
                {
                    <tr>
                        <td>
                            <b>ID: </b>@vare.ProductId
                            <br />
                        </td>
                        <td>
                            <b>Title: </b>@vare.Title
                            <br />
                        </td>
                        <td>
                            <b>Beskrivelse: </b>@vare.Description
                            <br />
                        </td>
                        <td>
                            <b>ShowRoomId: </b>@vare.ShowRoomId
                            <br />
                        </td>
                        <td>
                            <b>Vurdering: </b>@vare.Valuation
                            <br />
                        </td>
                        <td>
                            <b>AuktionStart: </b>@vare.AuctionStart
                            <br />
                        </td>
                        
                    </tr>

                }
            </tbody>
</table>

  



